.cover {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.cover__background {
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
	opacity: .2;

	z-index: -1;
}

.cover__headline {
	font-size: 3rem;
	text-align: center;
}

.cover__top {
	padding: 18px;
}

.cover__top-left {
	float: left;
}

.cover__top-right{
	float: right;
}